nav {
	font-family: 'Lobster Two', cursive;
}

li {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Lobster Two', cursive;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
		background-color: #e3f2fd;
	}
	