.vertical-center {
	margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 5px;
}

  .card {
      background-size: cover;
      background-position: center;
      background-clip:content-box;
      border: 3px solid black;
    background: #fff;
    border-radius: 2px;
    height: px;
    margin: 1rem;
    position: relative;
    width: 95%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
		text-align: left;
    
  }
  
  .img-container {
		/* height: 200px; */
		position: relative;
    overflow: hidden;
    text-align: left;
    background:white;
  }
  .card > .img-container > img {
    width: 70%;
    /* padding-top: 18px; */
		/* padding-bottom: 18px; */
		
		
		top: 50%;
		
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  .underLine {
    text-decoration: underline;
  }
